@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&display=swap');

* {
  background-color: rgb(58, 56, 54);
  font-family: 'Rajdhani', sans-serif;
  color:rgb(217, 236, 253);
  text-shadow: 1px 1px black;
}

.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link{
  color:rgb(90, 214, 214);
}

.download-resume{
  margin-top: 150px;
}


.download-btn{
  width: 250px;
  height: auto;
}

.about-div{
  padding: 50px;
  margin-bottom: -100px;
}